{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_title %} 
    {% if todo.pk %}
        Editar Candidato
    {% else %}
        Novo Candidato
    {% endif %}
{% endblock page_title %}

{% block content %}
    {% if todo.pk %}
        <h1>Editar Candidato</h1>
    {% else %}
        <h1>Novo Candidato</h1>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'candidato_list' %}" class="btn btn-secondary">voltar</a>
    </form>
        
{% endblock content %}