{% extends 'base.html' %}

{% block page_title %} Vagas {% endblock page_title %}

{% block content %}
    <div class="container">
        <h1 class="my-5">Vagas</h1>
        <a href="{% url 'vaga_create' %}" class="btn btn-primary my-2">Nova</a>

        <div class="card">
            <div class="card-body">
                {% if vaga_list %}
                <p>Mostrando {{ vaga_list|length }} vagas</p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Título</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Requisitos</th>
                                <th scope="col">Jornada de Trabalho</th>
                                <th scope="col">Salario</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for v in vaga_list %}
                            <tr>
                                <th scope="row">{{ v.pk }}</th>
                                <td><a href="{% url 'formulario_list' v.pk %}">{{ v.titulo }}</a></td>
                                <td>{{ v.descricao }}</td>
                                <td>{{ v.requisitos }}</td>
                                <td>{{ v.jornada_trabalho }}</td>
                                <td>{{ v.salario }}</td>
                                <td>
                                    <a href="{% url 'vaga_update' pk=v.pk %}" class="" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="{% url 'vaga_delete' pk=v.pk %}" class="" title="Deletar"><i class="fa-solid fa-eraser"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    {% else %}
        <p>Não há Vagas</p>
    {% endif %}

{% endblock content %}